{% extends 'base.html.twig' %}

{% block body %}
	<article class="grid-container">
        <br>
        <div class="text-center">
            <h2>Pacientes: </h2>
            <hr>
        </div>
    	<div class="grid-x grid-margin-x small-up-2 medium-up-2 large-up-4">
			{%for paciente in pacientes%}
                <div class="cell">
            		
            		<h5>{{paciente.getName()}}</h5>
            		
            		<a href="{{path('listaDePacientes',{id:paciente.getId()})}}" class="button expanded">Detalles</a>
            		
      			</div>
            {%endfor%}
        </div>
	</article>
{% endblock %}